extends layout

block content
    .wedding
        .nav-bar
            .banner.grid-4.center
                .groom.grid-3 Shaul
                .heart.grid-2 
                    img(src='/images/heart.png')
                .bride.grid-3 Humai
        .container
            .grid-10.center
               
                div.ourstory
                    div.cursive Bismillah ir-Rahman ir-Rahim
                    | OUR STORY
                    
             #intro(data-0="top:20%", data-500="top:20%", data-2000="top:25%", data-3000="top:25%")
                .bg.left(data-0='left:-2%', data-500='left:25%;', data-2000='left:37.5%', data-3000='left:47%') 
              
                .bg(data-0='right:-2%', data-500='right:25%;', data-2000='right:37.5% ', data-3000='right:47%')
                .bg-her(data-0='right:-2%; display:block', data-50='display:none')
                .bg-him(data-0='left:0.7%%; display:block',data-50='display:none' )
               
                div(style='width:100%; height: 200px',data-0='display:block',data-50='display:none')
                    .about-him-her(data-0='display:block',data-50='display:none')
                .content(data-0='display:none;',data-2850="display:block;", data-3000="")
                    div
                        img(src='/images/bgroom.png', style='float:left')
                        img(src='/images/bride.png', style='float:right')
                        img(src="/images/getting.png", style="clear:both; margin-top:30px;")
                        
                .mehandi(data-0='display:none;', data-1800='display:block;z-index:-1;', data-2200='opacity:1.0;top:-129px;',data-2500='opacity:0.2;display:none;' )
                    .mehandi-left
                    .mehandi-right(data-0='',data-1400='opacity:0.4;',data-1600='opacity:0.6;',data-2000='opacity:1.0;', data-2200='margin-left:65%;margin-top:-20%')
                div.mehendicenter(data-0='display:none', data-1800='position:fixed; display:block;opacity:1.0; left:37.5%;bottom: 35%;top:25%',data-2100='opacity:0.7;',data-2200='display:none;' )
                    img(src='/images/mehendimiddle1.png', width=318) 
                .feather(data-0='display:none; top:100%; opacity:0;', data-500='display:block;top:80%;', data-2000='top:50%', data-2900='opacity:1.0; top:0%;')
                div
                    //div.reception(data-0="display:none", data-3500="display:block;opacity: 0.3", data-4000="opacity:1")
                    div.rsvp(data-0="display:none;", data-3500="display:block;opacity: 0.3;", data-4000="opacity:1")
                        .rsvp-content
                            div RSVP
                            input(type='email' id='emailid' pattern="[a-zA-Z]{3,}@[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}" required placeholder="Enter your Email", style="font-family: sans-serif;")
                            input.email(type='button', value='Email', placeholder='Your Email Address' id='submitemail')
                            div.error *Invalid e-mail address
                        div.thankyou Thank you 
                        p.confirmation We have sent you an invite,
                            | please check your spam / promotions
                        
