doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, user-scalable=no")
    link(rel="shortcut icon", href='/images/icon.ico')
    link(href='http://fonts.googleapis.com/css?family=Bad+Script', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Norican', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheet/styles.css')
  body
    block content
    script(src='/javascripts/jQuery.js')
    script(src='/javascripts/skrolr.js')
    script(src='/javascripts/app.js')
    script(type='text/javascript').
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
           ga('create', 'UA-49899807-1', 'shaulwedshumaira.com');
           ga('send', 'pageview');
