* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
html, body {
width:100%;
height:100%;
overflow-x:hidden;
line-height: 1;
min-height:100%;
font-family:Artial, Verdana, sans-serif;
}
body {
background-color:#fff;
}
.skrollable {
position:fixed;
z-index:1;
}
.skrollr-mobile .skrollable {
position:absolute;
}
.skrollable .skrollable {
position:absolute;
}
.skrollable .skrollable .skrollable {
position:static;
}
#intro {
width:100%;
left:50%;
top:1em;
margin-left:-50%;
text-align:center;

-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.bg {
width:318px;
float:left;
min-height:540px;
background: url(lHeart.png) no-repeat 0 0;
background-size:contain;
}
.bg.left {
background-image:url(rHeart.png);
}
.content {
position:fixed;
width:100%;
float:left;
z-index:2;
text-align:center;
}
.header {
position:fixed;
width:100%;
height:60px;
background-color:tomato;
color:#fff;
font-size:24px;
font-weight:bold;
text-align:center;
}
.content > div {
max-width:420px;
min-height:99px;
margin:120px auto 0;
}
.feather {
width:100%;
height:100%;
min-height:1000px;
top:0;
left:0;
z-index:0 !important;
background:url(bg.jpg) no-repeat center bottom;
}