body {
    padding-top: 50px;
    font-family: 'Norican', cursive;
    background: #ececec;
    font-weight: bolder;
    overflow-x: hidden;
}
.grid-1{
    width: 10%;
}
.grid-2{
    width: 20%;
}
.grid-3{
    width: 30%
}
.grid-4{
    width: 40%
}
.grid-5{
    width: 50%
}
.grid-6{
    width: 60%
}
.grid-7{
    width: 70%
}
.grid-8{
    width: 80%
}
.grid-9{
    width: 90%
}
.grid-10{
    width: 100%
}

[class*="grid"]{
    float: left;
    min-height: 5px;
}


.center{
    text-align: center;
    display: table;
}
.wedding{
    
}
.wedding .nav-bar{
    width: 100%;
    height: 45px;
    background: #f05e5e;
    position: fixed;
    top: 0;
    left: 0;
    z-index:9999;
}

.wedding .nav-bar .banner{
    min-height: 40px;
    color: #fff;
    font-size: 24px;
    margin-left: 33%;
}
.wedding .nav-bar .banner img{
    width: 90%;
    margin: -2px;
}
.wedding .nav-bar .banner .groom{
    text-align: right !important;
}
.wedding .nav-bar .banner .groom, .wedding .nav-bar .banner .bride{
    padding: 1%;
}
.wedding .nav-bar .banner .bride{
    text-align: left !important;
}
.container{
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.container .ourstory {
    font-family: 'Oswald', sans-serif;
    padding-top: 28px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
}
.container .groom-desc .parent{
      position: absolute;
      z-index: -1;
}
.container .groom-desc .second-child{
      float: right;
}

.container .groom-desc .heart-right{
    max-width: 100%;
    width: 75%;
  
}

@media (max-width: 500px){
    body{
        padding-top: 20px;
        overflow-x: hidden;
    }
    .wedding .nav-bar .banner{
    min-height: 40px;
    color: #fff;
    font-size: 20px;
    margin-left: 33%;
    }
    .wedding .nav-bar .banner img{
        width: 100%;
    }
    .wedding .nav-bar .banner .groom{
        padding-right: 2%;
    }
    .wedding .nav-bar .banner .bride{
         padding-left: 2%;
    }
    .container .ourstory {
        font-size: 20px;
    }
    .container .groom-desc .heart-right{
        width: 200px;
        margin-left: -17%;
    }
}

* {
margin: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
html, body {
width:100%;
height:100%;
overflow-x:hidden;
min-height:100%;

}

.skrollable {
position:fixed;
z-index:1;
}
.skrollr-mobile .skrollable {
position:absolute;
}
.skrollable .skrollable {
position:absolute;
}
.skrollable .skrollable .skrollable {
position:static;
}
#intro {
width:100%;
left:50%;
top:1em;
margin-left:-50%;
text-align:center;

-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.bg {
width:318px;
float:left;
min-height:540px;
background: url(/images/lHeart.png) no-repeat 0 0;
background-size:contain;
}
.bg.left {
background-image:url(/images/rHeart.png);
}
.content {
position:fixed;
width:100%;
float:left;
z-index:2;
text-align:center;
}
.header {
position:fixed;
width:100%;
height:60px;
background-color:tomato;
color:#fff;
font-size:24px;
font-weight:bold;
text-align:center;
}
.content > div {
max-width:420px;
min-height:99px;
margin:120px auto 0;
}
.mehendicenter img{
    
}
.feather {
width:100%;
height:100%;
min-height:1000px;
top:0;
left:0;
/*z-index:0 !important;*/
background:url(/images/bg.png) no-repeat center bottom;
}
.mehandi{
 
    width: 100%;
  
    z-index: -1 !important;
   
}
.mehandi .mehandi-left{
       min-height: 500px;
      background: url(/images/flower-left.png) no-repeat;
       background-size: contain;
       margin-top: -5px;
}
.mehandi .mehandi-right{
    min-height: 420px;
    background: url(/images/flower-right.png) no-repeat;
}
.mehandi .mehandi-center{
    
}
.reception{
  background: url(/images/reception.jpg) no-repeat;
min-height: 200px;
background-size: contain;
min-width: 36%;
margin: 0 auto;
position: relative !important;
z-index: 2;
max-width: 20%;
top: 305px;
left: -12px;
}
.bg-her {
background: url(/images/her.png) no-repeat 0 0;
min-height: 420px;
background-size: contain;
width: 237px;
right: 0.3% !important;
/* float: left; */
/* left: 20px; */
top: 64px;
}

.bg-him{
  background: url(/images/him.png) no-repeat 0 0;
min-height: 397px;
background-size: contain;
width: 220px;
/*left: -1.7%;*/
/* float: left; */
/* left: 20px; */
top: 43px;
}
.about-him-her{
background: url(/images/about.png) no-repeat 0 0;
min-height: 150px;
background-size: contain;
width: 500px;
margin: 0 auto;
position: relative !important;
top: 75px;

}
.cursive {
    font-family: 'Norican', cursive;
    color: #f05e5e;
}
.rsvp{
    background: url(/images/rsvpbg.png) no-repeat;
   min-height: 180px;
   position: fixed !important;
   margin: 0 auto;
   max-width: 600px;
   min-width: 575px;
   background-size: contain;
   z-index: 2;
   left: 29%;
   color: #f05e5e;
   bottom: 0;

}

.rsvp-content input[type='email']{
    background: #f05e5e;
    opacity: 0.5;
    min-width: 250px;
    color: #fff;
}
.rsvp .rsvp-content{
width: 575px;
padding-top: 25px;
}

.rsvp .email{
    background-color: #f05e5e;
    width: 75px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
.thankyou{
    font-size: 50px;
    display: none;
    padding-top: 50px;
}
.confirmation{
    display: none;
}
.error {
    color: red;
    font-family: monospace;
    display: none;
}